{# templates/emails/signup.html.twig #}
<h1>Bonjour {{ student.firstname }}!</h1>

<p>
    Vous avez validé la demande d'accompagnement de {{ sponsor.firstname }}.
    Une email de confirmation vous sera envoyé pour confirmer.
</p>
<p>
    <a href="{{ url('app_frontend_dashboard', {
        person: student.id
    }) }}">Je visite l'état de mon sponsoring</a>
</p>
</p>