{# templates/emails/signup.html.twig #}
<h1>Bonjour {{ sponsor.firstname }}!</h1>

<p>
    Votre proposition d'accompagnement de {{ student.firstname }} est validé.
</p>
<p>
    <a href="{{ login_link }}">Voir les informations</a>
</p>