{# templates/emails/signup.html.twig #}
<h1>Bonjour {{ sponsor.firstname }}!</h1>

<p>
    Une proposition : {{ student.firstname }}
</p>


<p>
<p>
    <a href="{{ url('app_frontend_sponsorship_back', {
        sponsorship: sponsorship.id,
        lead: sponsorship.proposal.id,
        transition: 'to_sp_validate'
    }) }}">Pour accepter</a><br />
    <a href="{{ url('app_frontend_sponsorship_back', {
        sponsorship: sponsorship.id,
        lead: sponsorship.proposal.id,
        transition: 'to_sp_rejected'
    }) }}">Pour refuser</a><br />
</p>
</p>