{% extends "emails/layout.html.twig" %}
{% import "emails/macros.html.twig" as m %}
{% block body %}
    <h4>Bonjour {{ sponsor.fullName }}!</h4>
    <p>Vous avez bénéficié d’une mise en relation avec un étudiant, merci de bien vouloir nous indiquer via votre compte si votre parrainage se poursuit.</p>
    <p style="text-align: center;">{{ m.cta(login_link, 'VOTRE PROFIL') }}</p>
{% endblock body %}
