{% extends "emails/layout.html.twig" %}
{% block body %}
    <h4>Bonjour administrateur, </h4>
    <p>L'étudiant {{ request.person.fullName }} a effectué une nouvelle demande d'accompagnement sur la plateforme Ôpe.</p>
{% endblock body %}
