{% extends "emails/layout.html.twig" %}
{% import "emails/macros.html.twig" as m %}
{% block body %}
    <p>Cliquez sur le bouton en dessous pour confirmer que vous souhaitez vous connecter. Ce lien expirera dans {{ duration }}.</p>
    <p style="text-align: center;">{{ m.cta(login_link, 'SE CONNECTER') }}</p>
{% endblock body %}