{% extends "emails/layout.html.twig" %}
{% block body %}
    <p>Cliquez sur le bouton en dessous pour confirmer que vous souhaitez vous connecter. Ce lien expirera dans {{ duration }}.</p>
    <p><a href="{{ login_link }}" class="btn btn-primary">Se connecter</a></p>
{% endblock body %}