{% macro cta(link, label) %}
<table cellspacing="0" cellpadding="0" border="0" role="presentation" width="300" class="r10-o"
	style="background-color: #204697; border-collapse: separate; border-color: #204697; border-radius: 4px; border-style: solid; border-width: 0px; table-layout: fixed; width: 300px;">
	<tr>
		<td height="18" align="center" valign="top" class="r11-i nl2go-default-textstyle"
			style="word-break: break-word; background-color: #204697; border-radius: 4px; color: #ffffff; font-family: arial,helvetica,sans-serif; font-size: 16px; font-style: normal; line-height: 1.15; padding-bottom: 12px; padding-top: 12px; text-align: center;">
			<a href="{{ link }}" class="r12-r default-button" target="_blank" data-btn="1"
				style="font-style: normal; font-weight: normal; line-height: 1.15; text-decoration: none; word-break: break-word; word-wrap: break-word; display: block; -webkit-text-size-adjust: none; color: #ffffff; font-family: arial,helvetica,sans-serif; font-size: 16px;">
				<span>{{ label }}</span></a> </td>
	</tr>
</table>
{% endmacro %}