{% extends "emails/layout.html.twig" %}
{% block body %}
    <h4>Bonjour {{ person.fullName }}!</h4>
    <p>
        Nous vous confirmons votre inscription à la plateforme Ôpe.
    </p>
{% endblock body %}