{# templates/security/request_login_link.html.twig #}
{% extends 'frontend.html.twig' %}

{% block title %}
	Se connecter - {{ parent() }}
{% endblock title %}

{% block body %}
{% for message in app.flashes('notification') %}
<div class="alert alert-warning alert-dismissible fade show mt-5">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span
			aria-hidden="true">&times;</span></button>
</div>
{% endfor %}

<form action="{{ path('app_frontend_login') }}" method="POST">
	<div class="input-group mb-3 pt-5">
		<input type="email" class="form-control" name="email" placeholder="Votre email" aria-label="Recipient's email"
			aria-describedby="button-addon2">
		<button class="btn btn-outline-primary" type="submit" id="button-addon2">Envoyer le lien</button>
	</div>
</form>
{% endblock %}