<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Ôpe{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('frontend') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('frontend') }}
		{% endblock %}
	</head>

	<body>
		<div class="container">
			<div class="row">

				<div class="col-lg-8 mx-auto p-3 py-md-5">
					<header class="d-flex align-items-center pb-3 mb-2 border-bottom">
						<a href="#" class="d-flex align-items-center text-dark text-decoration-none">
							<img class="img-fluid rounded-start w-20 object-fit-cover" loading="lazy" src="{{ (asset('build/images/brand/logo/logo.svg')) }}" alt="BootstrapBrain Logo">
							<span class="ms-3 fs-4">Votre profil</span>
						</a>
					</header>
			
					<main>
						<div class="row">
							<div class="col">
								{% block body %}{% endblock %}
							</div>
						</div>
			
					</main>
					<footer class="pt-5p-3  my-5 text-muted">
						<p>ope &middot; &copy; 2024</p>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
