{% extends "emails/layout.html.twig" %}
{% block body %}
    <h4>Bonjour {{ sponsor.fullName }}!</h4>
    <p>
        Nous vous informons que le parrainage avec {{ student.fullName }} est terminé.<br />
        Vous pouvez mettre à jour vos informations ()
    </p>
{% endblock body %}
